.button{
    padding: 8px 34px;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
  }

  .button:hover{
  opacity: 0.4;
  }