.latest-container {
    background: white;
    padding-top: 100px;
}

.site-header-left-img{
    padding: 20px;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-link{
    display: flex;
    align-items: center;
}

.item-span{
    display: flex;
    align-items: center;
}

.item-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-item{
    margin: 30px 14px;
    max-width: 376px;
    min-width: 376px;
}

.section-list{
    margin: 0;
    padding: 0;
    margin-left: -11px;
    margin-right: -11px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

// .section-item + .section-item{
//     margin-left: 30px;
// }

.item_heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.6;
}

.item-desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}

.item-heading{
    margin: 0;
    margin-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.item-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #9224D6;
}

.span-desc{
    margin: 0;
    margin-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.6;
}

.item-span{
    display: flex;
    align-items: center;
}

.linkdesc{
    margin-left: 15px;
}